{% extends "schedule_base.html" %}



{% block pageJS %}

<script type="text/javascript" src="/static/js/timeperiod.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Below are timeperiods and any data associated with them.</h2>
    <a href="/schedule/">Click here to go back</a>
</div>

    <div id="view_timeperiods" class="tab_content">
        <div class="row">
        <form name="group" id="group_selection" method="post" action="" class="col-lg-2 col-md-3 col-sm-5 col-xs-9">{% csrf_token %}
            <div class="form-group">
                <label for="group_selection">Pick a Group:</label>
                <select name="group_selection" class="form-control" id="group_selection">
                    {% for group in group_list %}
                        <option>{{ group.group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        </div>
        <div class="row">
        {% if timeperiod_stats %}
            <h1 id="group_name">{{ group_name }}</h1>
            {% for timeperiod in timeperiod_stats %}
                 <div class="timeperiod_info">
                    <h2>{{ timeperiod.timeperiod }}</h2>
                    <p>({{ timeperiod.start_date }}-{{ timeperiod.end_date }})</p>
                    {% if timeperiod.count == 0 %}
                        <p>There is not anyone that works on your team that can work during this time period.</p>
                    {% else %}
                        <p>{{ timeperiod.count }} can work during this time period.<br />
                            People:<br />
                            <ul>
                        {% for person in timeperiod.people_available %}
                            <li>{{ person }}</li>
                        {% endfor %}</ul></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="section">
                <h2>{{message}}</h2>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
