{% extends "schedule_base.html" %}



{% block pageJS %}

<script type="text/javascript" src="/static/js/timeperiod.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Schedule</h1>
    <h2>Below are timeperiods and any data associated with them.</h2>
    <a href="/schedule/">Click here to go back</a>
</div>

    <div id="view_timeperiods" class="tab_content">
        <form name="group" method="post" action="">{% csrf_token %}
            <select name="group_selection">
            {% for group in group_list %}
                <option>{{ group.group_name }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Submit" />
        </form>
        {% if timeperiod_stats %}
            <h1 id="group_name">{{ group_name }}</h1>
            {% for timeperiod in timeperiod_stats %}
                 <div class="timeperiod_info">
                    <h2>{{ timeperiod.timeperiod }}</h2>
                    <p>({{ timeperiod.start_date }}-{{ timeperiod.end_date }})</p>
                    {% if timeperiod.count == 0 %}
                        <p>There is not anyone that works on your team that can work during this time period.</p>
                    {% else %}
                        <p>{{ timeperiod.count }} can work during this time period.<br />
                            People:<br />
                            <ul>
                        {% for person in timeperiod.people_available %}
                            <li>{{ person }}</li>
                        {% endfor %}</ul></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="section">
                <h2>{{message}}</h2>
            </div>
        {% endif %}
    </div>

{% endblock %}
